alembic
beautifulsoup4
chardet
dbus-python  # (Linux only)
distro  # (Linux only)
flask
flask-cors
lxml
Mako
packaging
platformdirs
PyICU
# pyobjc  # (macOS only)
# pyobjc-framework-Cocoa  # (macOS only)
PySide6 >= 6.7
# Pyro5  # (macOS only)
# pywin32  # (Windows only)
QtAwesome
qrcode
requests
SQLAlchemy
waitress
websockets
PyMuPDF
QDarkStyle
PyMySQL
pyodbc
psycopg2
pyenchant >= 1.6
huggingface_hub
pysword
sentence-transformers
PyMuPDF
pyodbc
pysword
pytest
pytest-qt
flake8
pytest-runner
tensorflow
tensorflow-hub
tensorflow-text
openai-whisper
# deepspeech
speechbrain